<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--
        Micrometer Tracing populates MDC keys traceId and spanId for every
        instrumented request. Including them in the log pattern correlates log
        lines with traces in tools like Jaeger, Zipkin, or Grafana Tempo.
    -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] traceId=%X{traceId:-} spanId=%X{spanId:-} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
